In [1]:
# Dependencies and Setup
import pathlib as Path
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import time
from scipy.stats import linregress
import scipy.stats as st

In [2]:
# Import data source 
# (Ref:Source: US Department of Energy, https://afdc.energy.gov/stations/states, accessed 10 July 2023)
evdata21_df = pd.read_csv("Resources/Original_2021_historical-ev-station-counts.csv")

# Print dataframe
evdata21_df.head()

# Set first row as header & reprint dataframe
# Code Ref:  Zach, 4 August 2022, Statology, "How to set first row as header", 
# https://www.statology.org/pandas-set-first-row-as-header/), accessed 12 July 2023

evdata21_df.columns = evdata21_df.iloc[0]
evdata21v1_df = evdata21_df[1:]
evdata21v1_df.head()

,State,Biodiesel,CNG,E85,Electrica,Hydrogenb,LNG,Propanec,Totald
1,NaN,NaN,NaN,NaN,(stations / charging outlets,(retail / non-retail / total),NaN,(primary / secondary / total),NaN
2,NaN,NaN,NaN,NaN,Level 1 / Level 2 / DC Fast),NaN,NaN,NaN,NaN
3,Alabama,10,30,33,276 | 680,0 | 0 | 0,2,26 | 42 | 68,823
4,NaN,NaN,NaN,NaN,35 | 527 | 118,NaN,NaN,NaN,NaN
5,Alaska,0,1,0,52 | 94,0 | 0 | 0,0,1 | 1 | 2,97

In [3]:
#Drop rows from "State" and "Electrica" columns with "Nan" values
evdata21v1_df.dropna(subset=["State","Electrica"], inplace=True)
evdata21v1_df

/var/folders/m7/yfqdhr1157x_5xx3bb3y5s940000gn/T/ipykernel_3120/716713178.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  evdata21v1_df.dropna(subset=["State","Electrica"], inplace=True)

,State,Biodiesel,CNG,E85,Electrica,Hydrogenb,LNG,Propanec,Totald
3,Alabama,10,30,33,276 | 680,0 | 0 | 0,2,26 | 42 | 68,823
5,Alaska,0,1,0,52 | 94,0 | 0 | 0,0,1 | 1 | 2,97
7,Arizona,75,29,19,"890 | 2,257",0 | 1 | 1,7,36 | 33 | 69,"2,457"
9,Arkansas,17,15,70,160 | 453,0 | 0 | 0,0,9 | 26 | 35,590
11,California,27,323,264,"14,616 | 41,225",47 | 5 | 52,41,135 | 126 | 261,"42,193"
13,Colorado,6,31,96,"1,614 | 3,978",0 | 1 | 1,1,26 | 24 | 50,"4,163"
15,Connecticut,1,17,3,"533 | 1,430",0 | 1 | 1,0,10 | 10 | 20,"1,472"
17,Delaware,0,2,1,134 | 314,0 | 1 | 1,0,6 | 3 | 9,327
19,District of Columbia,8,2,4,289 | 822,0 | 0 | 0,0,0 | 6 | 6,842
21,Florida,7,56,111,"2,624 | 6,723",0 | 0 | 0,3,75 | 64 | 139,"7,039"
23,Georgia,4,46,67,"1,579 | 3,939",0 | 0 | 0,4,35 | 47 | 82,"4,142"
25,Hawaii,8,0,1,385 | 833,1 | 1 | 2,0,1 | 0 | 1,845
27,Idaho,0,11,5,139 | 345,0 | 0 | 0,0,10 | 14 | 24,385
29,Illinois,19,39,304,"1,077 | 2,756",0 | 0 | 0,2,40 | 51 | 91,"3,211"
31,Indiana,7,31,247,354 | 948,0 | 0 | 0,1,24 | 24 | 48,"1,282"
33,Iowa,12,11,342,280 | 582,0 | 0 | 0,0,25 | 11 | 36,983
35,Kansas,7,21,63,"493 | 1,017",0 | 0 | 0,1,6 | 28 | 34,"1,143"
37,Kentucky,3,9,75,222 | 527,0 | 0 | 0,1,4 | 16 | 20,635
39,Louisiana,2,22,22,159 | 385,0 | 0 | 0,1,12 | 38 | 50,482
41,Maine,1,2,0,295 | 629,0 | 0 | 0,0,2 | 6 | 8,640
43,Maryland,27,15,46,"1,250 | 3,416",0 | 0 | 0,0,18 | 15 | 33,"3,537"
45,Massachusetts,8,13,6,"2,175 | 4,871",0 | 2 | 2,0,19 | 11 | 30,"4,930"
47,Michigan,10,23,245,"834 | 1,833",1 | 1 | 2,0,34 | 53 | 87,"2,200"
49,Minnesota,157,23,454,"589 | 1,390",0 | 0 | 0,0,27 | 22 | 49,"2,073"
51,Mississippi,1,6,4,112 | 433,0 | 0 | 0,2,18 | 56 | 74,520
53,Missouri,2,19,132,"1,053 | 2,200",0 | 0 | 0,1,23 | 40 | 63,"2,417"
55,Montana,0,1,2,75 | 212,0 | 0 | 0,0,17 | 11 | 28,243
57,Nebraska,3,9,120,182 | 377,0 | 0 | 0,1,7 | 20 | 27,537
59,Nevada,2,5,12,"447 | 1,353",0 | 0 | 0,0,10 | 13 | 23,"1,395"
61,New Hampshire,2,4,0,164 | 351,0 | 0 | 0,0,6 | 12 | 18,375
63,New Jersey,5,28,6,"745 | 2,008",0 | 0 | 0,0,7 | 6 | 13,"2,060"
65,New Mexico,2,11,18,187 | 457,0 | 0 | 0,1,34 | 20 | 54,543
67,New York,30,57,79,"2,974 | 7,621",0 | 1 | 1,0,17 | 29 | 46,"7,834"
69,North Carolina,110,37,100,"1,117 | 2,784",0 | 0 | 0,1,19 | 51 | 70,"3,102"
71,North Dakota,1,1,49,61 | 139,0 | 0 | 0,0,4 | 16 | 20,210
73,Ohio,10,52,213,"959 | 2,203",0 | 2 | 2,4,28 | 46 | 74,"2,558"
75,Oklahoma,1,116,88,"313 | 1,088",0 | 0 | 0,0,32 | 86 | 118,"1,411"
77,Oregon,37,15,4,"995 | 2,439",0 | 0 | 0,2,29 | 15 | 44,"2,541"
79,Pennsylvania,5,92,146,"1,143 | 2,665",0 | 0 | 0,3,40 | 42 | 82,"2,993"
81,Rhode Island,3,1,0,255 | 628,0 | 0 | 0,0,3 | 2 | 5,637
83,South Carolina,33,11,46,384 | 862,0 | 0 | 0,1,21 | 25 | 46,999
85,South Dakota,0,0,83,57 | 156,0 | 0 | 0,0,7 | 14 | 21,260
87,Tennessee,9,20,95,"691 | 1,647",0 | 0 | 0,4,23 | 32 | 55,"1,830"
89,Texas,18,107,269,"2,316 | 5,486",0 | 0 | 0,15,176 | 207 | 383,"6,278"
91,Utah,1,42,1,"908 | 1,978",0 | 0 | 0,1,21 | 15 | 36,"2,059"
93,Vermont,2,3,0,328 | 871,0 | 0 | 0,0,0 | 1 | 1,877
95,Virginia,7,23,64,"1,139 | 3,301",0 | 1 | 1,1,36 | 49 | 85,"3,482"
97,Washington,25,24,14,"1,775 | 4,328",0 | 1 | 1,1,52 | 26 | 78,"4,471"
99,West Virginia,1,2,38,111 | 307,0 | 0 | 0,0,5 | 12 | 17,365
101,Wisconsin,4,43,261,474 | 949,0 | 0 | 0,1,17 | 35 | 52,"1,310"
103,Wyoming,0,9,9,70 | 184,0 | 0 | 0,0,6 | 14 | 20,222
105,Total,730,"1,510","4,331","50,054 | 128,474",49 | 18 | 67,103,"1,239 | 1,566 | 2,805","138,020"

In [4]:
# Rename column "Electrica" to "No.EV Charge Stations / No. EV charge outlets"
# Code Ref: tozCSS, 17 September 2021, StackOverflow, "How to rename columns in pandas (with examples)"
# (https://www.statology.org/pandas-rename-columns/), accessed 12 July 2023

evbase21v1_df = evdata21v1_df.rename(columns=str).rename(columns={"Electrica":"2021 - No.EV Charge Stations | 2021 - No. EV charge outlets"})

# Retain State and column 4 ("Electric (stations/charging outlets)"
# Code Ref:  Zach, 9 November 2021, Statology, "How to Select Columns by Index in a Pandas DataFrame", 
# (https://www.statology.org/pandas-select-column-by-index/#:~:text=If%20you'd%20like%20to,loc%20function.), accessed 12 July 2023

evtrim21v1_df = evbase21v1_df.iloc[:,[0,4]]

In [5]:
# split column 2 by "/" delimeter
# Code Ref:  Zach, 21 July 2021, Statology, "How to Split String Column in Pandas into Multiple Columns", 
# (https://www.statology.org/pandas-split-column/), accessed 12 July 2023

evtrim21v1_df[["2021 - No.EV Charge Stations", "2021 - No. EV charge outlets"]] = evtrim21v1_df["2021 - No.EV Charge Stations | 2021 - No. EV charge outlets"].str.split("|", 1, expand=True)

# Delete original 'split' columns 
evclean21_df = evtrim21v1_df.drop("2021 - No.EV Charge Stations | 2021 - No. EV charge outlets", axis=1)
evclean21_df

/var/folders/m7/yfqdhr1157x_5xx3bb3y5s940000gn/T/ipykernel_3120/4190767658.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  evtrim21v1_df[["2021 - No.EV Charge Stations", "2021 - No. EV charge outlets"]] = evtrim21v1_df["2021 - No.EV Charge Stations | 2021 - No. EV charge outlets"].str.split("|", 1, expand=True)
/var/folders/m7/yfqdhr1157x_5xx3bb3y5s940000gn/T/ipykernel_3120/4190767658.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  evtrim21v1_df[["2021 - No.EV Charge Stations", "2021 - No. EV charge outlets"]] = evtrim21v1_df["2021 - No.EV Charge Stations | 2021 - No. EV charge outlets"].str.split("|", 1, expand=True)

,State,2021 - No.EV Charge Stations,2021 - No. EV charge outlets
3,Alabama,276,680
5,Alaska,52,94
7,Arizona,890,"2,257"
9,Arkansas,160,453
11,California,"14,616","41,225"
13,Colorado,"1,614","3,978"
15,Connecticut,533,"1,430"
17,Delaware,134,314
19,District of Columbia,289,822
21,Florida,"2,624","6,723"
23,Georgia,"1,579","3,939"
25,Hawaii,385,833
27,Idaho,139,345
29,Illinois,"1,077","2,756"
31,Indiana,354,948
33,Iowa,280,582
35,Kansas,493,"1,017"
37,Kentucky,222,527
39,Louisiana,159,385
41,Maine,295,629
43,Maryland,"1,250","3,416"
45,Massachusetts,"2,175","4,871"
47,Michigan,834,"1,833"
49,Minnesota,589,"1,390"
51,Mississippi,112,433
53,Missouri,"1,053","2,200"
55,Montana,75,212
57,Nebraska,182,377
59,Nevada,447,"1,353"
61,New Hampshire,164,351
63,New Jersey,745,"2,008"
65,New Mexico,187,457
67,New York,"2,974","7,621"
69,North Carolina,"1,117","2,784"
71,North Dakota,61,139
73,Ohio,959,"2,203"
75,Oklahoma,313,"1,088"
77,Oregon,995,"2,439"
79,Pennsylvania,"1,143","2,665"
81,Rhode Island,255,628
83,South Carolina,384,862
85,South Dakota,57,156
87,Tennessee,691,"1,647"
89,Texas,"2,316","5,486"
91,Utah,908,"1,978"
93,Vermont,328,871
95,Virginia,"1,139","3,301"
97,Washington,"1,775","4,328"
99,West Virginia,111,307
101,Wisconsin,474,949
103,Wyoming,70,184
105,Total,"50,054","128,474"

In [6]:
# Remove last row by index number
# Code Ref:  Zach, 14 may 2021, Statology, "How to drop rows by index in pandas", 
# (https://www.statology.org/pandas-drop-row-by-index/), accessed 12 July 2023

evfinal21_df = evclean21_df.drop(index=[105])
evfinal21_df

,State,2021 - No.EV Charge Stations,2021 - No. EV charge outlets
3,Alabama,276,680
5,Alaska,52,94
7,Arizona,890,"2,257"
9,Arkansas,160,453
11,California,"14,616","41,225"
13,Colorado,"1,614","3,978"
15,Connecticut,533,"1,430"
17,Delaware,134,314
19,District of Columbia,289,822
21,Florida,"2,624","6,723"
23,Georgia,"1,579","3,939"
25,Hawaii,385,833
27,Idaho,139,345
29,Illinois,"1,077","2,756"
31,Indiana,354,948
33,Iowa,280,582
35,Kansas,493,"1,017"
37,Kentucky,222,527
39,Louisiana,159,385
41,Maine,295,629
43,Maryland,"1,250","3,416"
45,Massachusetts,"2,175","4,871"
47,Michigan,834,"1,833"
49,Minnesota,589,"1,390"
51,Mississippi,112,433
53,Missouri,"1,053","2,200"
55,Montana,75,212
57,Nebraska,182,377
59,Nevada,447,"1,353"
61,New Hampshire,164,351
63,New Jersey,745,"2,008"
65,New Mexico,187,457
67,New York,"2,974","7,621"
69,North Carolina,"1,117","2,784"
71,North Dakota,61,139
73,Ohio,959,"2,203"
75,Oklahoma,313,"1,088"
77,Oregon,995,"2,439"
79,Pennsylvania,"1,143","2,665"
81,Rhode Island,255,628
83,South Carolina,384,862
85,South Dakota,57,156
87,Tennessee,691,"1,647"
89,Texas,"2,316","5,486"
91,Utah,908,"1,978"
93,Vermont,328,871
95,Virginia,"1,139","3,301"
97,Washington,"1,775","4,328"
99,West Virginia,111,307
101,Wisconsin,474,949
103,Wyoming,70,184

In [7]:
# Export the data into a csv
evfinal21_df.to_csv("Resources/Clean_2021_EV_ChargeStation.csv", index_label="Index")