In [1]:
# Dependencies and Setup

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import time
from scipy.stats import linregress
import scipy.stats as st

In [2]:
# Import data source 
# (Ref:Source: US Department of Energy, https://afdc.energy.gov/stations/states, accessed 10 July 2023)
evdata20_df = pd.read_csv("Original_2020_historical-ev-station-counts.csv")

# Print dataframe
evdata20_df.head()

,Station Counts by State and Fuel Type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,State,Biodiesel,CNG,E85,Electrica,Hydrogenb,LNG,Propanec,Totald
1,NaN,NaN,NaN,NaN,(stations / charging outlets,(retail / non-retail / total),NaN,(primary / secondary / total),NaN
2,NaN,NaN,NaN,NaN,Level 1 / Level 2 / DC Fast),NaN,NaN,NaN,NaN
3,Alabama,10,30,29,223 / 596,0 / 0 / 0,2,24 / 45 / 69,736
4,NaN,NaN,NaN,NaN,56 / 449 / 91,NaN,NaN,NaN,NaN

In [3]:
# Set first row as header & reprint dataframe
# Code Ref:  Zach, 4 August 2022, Statology, "How to set first row as header", 
# https://www.statology.org/pandas-set-first-row-as-header/), accessed 12 July 2023

evdata20_df.columns = evdata20_df.iloc[0]
evdata20_df = evdata20_df[1:]
evdata20_df.head()

# Drop rows from "State" column with "Nan" values
evdata20_df.dropna(subset = ["State"], inplace=True)
evdata20_df

,State,Biodiesel,CNG,E85,Electrica,Hydrogenb,LNG,Propanec,Totald
3,Alabama,10,30,29,223 / 596,0 / 0 / 0,2,24 / 45 / 69,736
5,Alaska,0,1,0,25 / 45,0 / 0 / 0,0,1 / 2 / 3,49
7,Arizona,75,30,20,"574 / 1,778",0 / 1 / 1,7,28 / 50 / 78,"1,989"
9,Arkansas,3,15,50,112 / 350,0 / 0 / 0,1,9 / 27 / 36,455
11,California,27,322,198,"7,671 / 34,622",43 / 6 / 49,41,87 / 181 / 268,"35,527"
13,Colorado,7,34,88,"1,062 / 3,234",0 / 1 / 1,0,12 / 41 / 53,"3,417"
15,Connecticut,1,18,3,"456 / 1,240",1 / 1 / 2,0,8 / 11 / 19,"1,283"
17,Delaware,1,2,1,70 / 206,0 / 1 / 1,0,7 / 2 / 9,220
19,District of Columbia,7,2,3,190 / 701,0 / 0 / 0,0,0 / 0 / 0,713
21,Florida,10,55,94,"1,822 / 5,519",0 / 0 / 0,3,24 / 89 / 113,"5,794"
23,Georgia,6,51,66,"1,008 / 3,645",0 / 0 / 0,4,31 / 58 / 89,"3,861"
25,Hawaii,7,0,2,320 / 760,1 / 1 / 2,1,0 / 1 / 1,773
27,Idaho,0,11,5,113 / 281,0 / 0 / 0,0,10 / 17 / 27,324
29,Illinois,19,38,284,"805 / 2,351",0 / 0 / 0,2,33 / 58 / 91,"2,785"
31,Indiana,3,32,234,282 / 784,0 / 0 / 0,1,19 / 39 / 58,"1,112"
33,Iowa,10,12,315,187 / 486,0 / 0 / 0,0,13 / 19 / 32,855
35,Kansas,1,21,56,246 / 950,0 / 0 / 0,1,3 / 34 / 37,"1,066"
37,Kentucky,3,9,72,168 / 383,0 / 0 / 0,1,3 / 23 / 26,494
39,Louisiana,1,22,18,141 / 360,0 / 0 / 0,1,8 / 43 / 51,453
41,Maine,2,2,0,220 / 518,0 / 0 / 0,0,2 / 7 / 9,531
43,Maryland,11,12,43,"880 / 2,767",0 / 0 / 0,0,10 / 17 / 27,"2,860"
45,Massachusetts,10,13,7,"1,033 / 3,406",0 / 1 / 1,1,9 / 21 / 30,"3,468"
47,Michigan,10,24,236,"628 / 1,598",0 / 2 / 2,0,24 / 67 / 91,"1,961"
49,Minnesota,146,23,422,"445 / 1,218",0 / 0 / 0,0,17 / 26 / 43,"1,852"
51,Mississippi,2,8,5,105 / 344,0 / 0 / 0,2,16 / 60 / 76,437
53,Missouri,2,20,115,"508 / 2,060",0 / 0 / 0,1,22 / 49 / 71,"2,269"
55,Montana,1,1,1,65 / 188,0 / 0 / 0,0,14 / 25 / 39,230
57,Nebraska,3,10,88,116 / 287,0 / 0 / 0,1,5 / 25 / 30,419
59,Nevada,2,8,12,"298 / 1,162",0 / 0 / 0,0,9 / 13 / 22,"1,206"
61,New Hampshire,2,4,0,131 / 291,0 / 0 / 0,0,9 / 13 / 22,319
63,New Jersey,4,28,6,"558 / 1,651",0 / 0 / 0,0,4 / 9 / 13,"1,702"
65,New Mexico,3,11,14,119 / 374,0 / 0 / 0,1,34 / 20 / 54,457
67,New York,28,62,75,"2,031 / 6,092",0 / 1 / 1,0,13 / 30 / 43,"6,301"
69,North Carolina,112,38,96,"822 / 2,267",0 / 0 / 0,2,13 / 69 / 82,"2,597"
71,North Dakota,1,1,38,38 / 101,0 / 0 / 0,0,5 / 19 / 24,165
73,Ohio,12,54,193,"654 / 1,840",0 / 1 / 1,3,27 / 48 / 75,"2,178"
75,Oklahoma,3,117,69,263 / 693,0 / 0 / 0,0,29 / 93 / 122,"1,004"
77,Oregon,37,15,4,"743 / 2,117",0 / 0 / 0,2,31 / 21 / 52,"2,227"
79,Pennsylvania,5,88,143,"759 / 2,048",0 / 0 / 0,3,34 / 57 / 91,"2,378"
81,Rhode Island,4,3,0,148 / 550,0 / 0 / 0,0,1 / 4 / 5,562
83,South Carolina,34,11,49,305 / 727,0 / 1 / 1,1,19 / 36 / 55,878
85,South Dakota,0,0,80,45 / 133,0 / 0 / 0,0,7 / 16 / 23,236
87,Tennessee,9,21,89,"493 / 1,341",0 / 0 / 0,4,18 / 43 / 61,"1,525"
89,Texas,26,112,241,"1,577 / 4,802",0 / 0 / 0,16,159 / 268 / 427,"5,624"
91,Utah,0,48,2,"446 / 1,617",0 / 0 / 0,0,20 / 23 / 43,"1,710"
93,Vermont,2,3,0,266 / 797,0 / 0 / 0,0,0 / 1 / 1,803
95,Virginia,10,23,61,"808 / 2,504",0 / 0 / 0,2,13 / 70 / 83,"2,683"
97,Washington,36,25,16,"1,224 / 3,771",0 / 1 / 1,1,40 / 42 / 82,"3,932"
99,West Virginia,0,3,37,93 / 258,0 / 0 / 0,0,3 / 10 / 13,311
101,Wisconsin,4,48,256,381 / 829,0 / 0 / 0,1,11 / 53 / 64,"1,202"
103,Wyoming,0,8,10,61 / 172,0 / 0 / 0,0,8 / 15 / 23,213
105,Total,712,"1,549","3,946","31,738 / 106,814",45 / 18 / 63,106,"946 / 2,010 / 2,956","116,146"
109,(a) Includes legacy chargers but does not incl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,(b) Primary propane stations offer vehicle-spe...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,(c) Retail hydrogen stations accept payment at...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,(d) Totals are the number of stations for all ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Rename column "Electrica" to "No.EV Charge Stations / No. EV charge outlets"
# Code Ref: tozCSS, 17 September 2021, StackOverflow, "How to rename columns in pandas (with examples)"
# (https://www.statology.org/pandas-rename-columns/), accessed 12 July 2023

evbase20_df = evdata20_df.rename(columns=str).rename(columns={"Electrica":"2020 - No.EV Charge Stations/2020 - No. EV charge outlets"})

# Retain State and column 4 ("Electric (stations/charging outlets)"
# Code Ref:  Zach, 9 November 2021, Statology, "How to Select Columns by Index in a Pandas DataFrame", 
# (https://www.statology.org/pandas-select-column-by-index/#:~:text=If%20you'd%20like%20to,loc%20function.), accessed 12 July 2023

evtrim20_df = evbase20_df.iloc[:,[0,4]]
evtrim20_df.head(3)

0    State 2020 - No.EV Charge Stations/2020 - No. EV charge outlets
3  Alabama                                          223 / 596
5   Alaska                                            25 / 45
7  Arizona                                        574 / 1,778

In [5]:
# split column 2 by "/" delimeter
# Code Ref:  Zach, 21 July 2021, Statology, "How to Split String Column in Pandas into Multiple Columns", 
# (https://www.statology.org/pandas-split-column/), accessed 12 July 2023

evtrim20_df[["2020 - No.EV Charge Stations", "2020 - No. EV charge outlets"]] = evtrim20_df["2020 - No.EV Charge Stations/2020 - No. EV charge outlets"].str.split("/", 1, expand=True)

# Delete original 'split' columns 
evclean20_df = evtrim20_df.drop("2020 - No.EV Charge Stations/2020 - No. EV charge outlets", axis=1)

/var/folders/m7/yfqdhr1157x_5xx3bb3y5s940000gn/T/ipykernel_88492/576688250.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  evtrim20_df[["2020 - No.EV Charge Stations", "2020 - No. EV charge outlets"]] = evtrim20_df["2020 - No.EV Charge Stations/2020 - No. EV charge outlets"].str.split("/", 1, expand=True)
/var/folders/m7/yfqdhr1157x_5xx3bb3y5s940000gn/T/ipykernel_88492/576688250.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  evtrim20_df[["2020 - No.EV Charge Stations", "2020 - No. EV charge outlets"]] = evtrim20_df["2020 - No.EV Charge Stations/2020 - No. EV charge outlets"].str.split("/", 1, expand=True)

In [6]:
# Remove last row by index number
# Code Ref:  Zach, 14 may 2021, Statology, "How to drop rows by index in pandas", 
# (https://www.statology.org/pandas-drop-row-by-index/), accessed 12 July 2023

evfinal20_df = evclean20_df.drop(index=[105, 109, 110, 111, 112])

evfinal20_df

,State,2020 - No.EV Charge Stations,2020 - No. EV charge outlets
3,Alabama,223,596
5,Alaska,25,45
7,Arizona,574,"1,778"
9,Arkansas,112,350
11,California,"7,671","34,622"
13,Colorado,"1,062","3,234"
15,Connecticut,456,"1,240"
17,Delaware,70,206
19,District of Columbia,190,701
21,Florida,"1,822","5,519"
23,Georgia,"1,008","3,645"
25,Hawaii,320,760
27,Idaho,113,281
29,Illinois,805,"2,351"
31,Indiana,282,784
33,Iowa,187,486
35,Kansas,246,950
37,Kentucky,168,383
39,Louisiana,141,360
41,Maine,220,518
43,Maryland,880,"2,767"
45,Massachusetts,"1,033","3,406"
47,Michigan,628,"1,598"
49,Minnesota,445,"1,218"
51,Mississippi,105,344
53,Missouri,508,"2,060"
55,Montana,65,188
57,Nebraska,116,287
59,Nevada,298,"1,162"
61,New Hampshire,131,291
63,New Jersey,558,"1,651"
65,New Mexico,119,374
67,New York,"2,031","6,092"
69,North Carolina,822,"2,267"
71,North Dakota,38,101
73,Ohio,654,"1,840"
75,Oklahoma,263,693
77,Oregon,743,"2,117"
79,Pennsylvania,759,"2,048"
81,Rhode Island,148,550
83,South Carolina,305,727
85,South Dakota,45,133
87,Tennessee,493,"1,341"
89,Texas,"1,577","4,802"
91,Utah,446,"1,617"
93,Vermont,266,797
95,Virginia,808,"2,504"
97,Washington,"1,224","3,771"
99,West Virginia,93,258
101,Wisconsin,381,829
103,Wyoming,61,172

In [7]:
# Export the data into a csv
evfinal20_df.to_csv("Clean_2020_EV_ChargeStation.csv", index_label="Index")